<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="public/css/friday.css">
</head>
<body>

<h1>Friday</h1>
<p>Pizza</p>

</body>
</html>
