<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="public/css/monday.css">
</head>
<body>

<h1>Monday</h1>
<p>Vallis Alps - Young</p>

</body>
</html>
