<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="public/css/wednesday.css">
</head>
<body>

<h1>Wednesday</h1>
<p>Monterey, California</p>

</body>
</html>
